*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
*:active,
*:hover,
*:focus {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

*,
button,
input,
i,
a {
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: "hidden\0/";
    -ms-overflow-style: none;
    font-size: 75%;
    -webkit-tap-highlight-color: transparent !important;
}

html {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #464a4c;
    background-color: #fff;
}

body {
    margin: 0;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #2196F3;
    text-decoration: none;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.bg-gray-lighter {
    background-color: #eceeef;
}

.topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    min-height: 70px;
    z-index: 100;
    width: 100%;
    padding: 0 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 8px;
}

.topbar>.topbar-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.topbar>.topbar-title a {
    padding: 7px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

[data-mb-theme="blue"] {
    background-color: #2196F3;
}

[data-mb-theme="green"] {
    background-color: #4CAF50;
}

.btn[class*="bg-"]:not(.bg-white) {
    color: #fff;
}

.btn:not(.btn-link) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.btn {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    border: none;
    margin-left: 10px;
}

.bg-blue {
    background-color: #2196F3 !important;
}

.bg-green {
    background-color: #4CAF50 !important;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.link {
    padding: 10px 0px 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 10px 30px 0px;
}

.link a {
    padding: 10px 20px;
}

#content {
    margin: 10px 30px;
}

.container {
    text-align: center;
}

.d-none {
    display: none;
}

.route-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.route-tab .route-tab-btn {
    padding: 15px 10px;
    cursor: pointer;
}

.route-tab .route-tab-btn .route-tab-arrow {
    font-size: 14px;
    vertical-align: sub;
}

.route-tab .route-tab-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}

.route-tab .route-tab-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.route-tab .route-tab-item .route-tab-title {
    white-space: pre;
    padding: 15px 5px 15px 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.route-tab .route-tab-item .route-tab-close {
    padding: 14px 15px 14px 5px;
    font-size: 14px;
    vertical-align: sub;
}

.route-tab .route-tab-item .route-tab-title,
.route-tab .route-tab-item .route-tab-close {
    color: #9E9E9E;
    cursor: pointer;
}

.route-tab .route-tab-item.active .route-tab-title,
.route-tab .route-tab-item.active .route-tab-close {
    color: #607D8B;
}